* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #e9dac4;
}
.icon {
  color: white;
  font-size: 18px;
  padding-right: 25px;
  display: flex;
  gap: 30px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b58d7e;
  padding: 15px 20px;
  font-family: "Montserrat", sans-serif;
  position: sticky;
  top: 0;
  overflow: hidden;
  /* border-radius: 7px; */
}
.gauche {
  display: flex;
  gap: 15px;
}
.gauche a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 12px;
}
.gauche a:hover {
  color: #c2a878;
  text-decoration: solid;
}
.droite {
  display: flex;
  align-items: center;
  gap: 15px;
}
.head {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 15px;
}

.head img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  display: block;
}

.text,
.text2 {
  position: absolute;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  font-size: 45px;
  font-weight: bold;
  font-family: "Cinzel", sans-serif;
  padding: 5px 10px;
  text-align: center;
}

.text {
  top: 40%;
}
.text2 {
  top: 55%;
}
.best-sell {
  text-align: center;
  color: #b58d7e;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  margin-top: 25px;
}
.images {
  margin-top: 35px;
  display: flex;
  justify-content: space-around;
  gap: 5px;
  margin-bottom: 90px;
}
.images img {
  width: 300px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Avoid extra space below images */
  margin-bottom: 10px;
}
.images img:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.images p {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}
.images p:hover {
  font-size: larger;
}
footer {
  background: #b58d7e;
  padding-top: 50px;
}
.container {
  width: 1140px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.footer-content {
  width: 33.3%;
}
h3 {
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
}
.footer-content p {
  width: 190px;
  margin: auto;
  padding: 7px;
  color: white;
}
.footer-content h3 {
  color: white;
}
.footer-content ul {
  text-align: center;
  color: white;
  text-decoration: none;
}
.list {
  padding: 0;
  text-decoration: none;
}
.list li {
  width: auto;
  text-align: center;
  list-style-type: none;
  padding: 7px;
  position: relative;
  color: white;
}
.list li::before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 100%;
  width: 0;
  height: 2px;
  background: beige;
  transition-duration: 0.5s;
}
.list li:hover::before {
  width: 70px;
}
.social-icons {
  text-align: center;
  padding: 0;
}
.social-icons li {
  display: inline-block;
  text-align: center;
  padding: 5px;
}
.social-icons i {
  color: white;
  font-size: 25px;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: beige;
}
.social-icons i:hover {
  color: beige;
}
.bottom-bar {
  background: #b58d7e;
  text-align: center;
  padding: 10px 0;
  margin-top: 50px;
}
.bottom-bar p {
  color: white;
  margin: 0;
  font-size: 16px;
  padding: 7px;
}
